<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>mancount</key>
		<string>68</string>
		<key>icon</key>
		<string>icon_00.png</string>
		<key>time</key>
		<string>10:00</string>
		<key>title</key>
		<string>[金水区]舟友烤全鱼</string>
	</dict>
	<dict>
		<key>mancount</key>
		<string>12</string>
		<key>icon</key>
		<string>icon_01.png</string>
		<key>time</key>
		<string>10:00</string>
		<key>title</key>
		<string>[金水区]老北京四季涮肉</string>
	</dict>
	<dict>
		<key>mancount</key>
		<string>1</string>
		<key>icon</key>
		<string>icon_02.png</string>
		<key>time</key>
		<string>10:00</string>
		<key>title</key>
		<string>[郑东新区]红茶香餐厅</string>
	</dict>
	<dict>
		<key>mancount</key>
		<string>21</string>
		<key>icon</key>
		<string>icon_03.png</string>
		<key>time</key>
		<string>10:00</string>
		<key>title</key>
		<string>[郑铁体育中心]口口香蛋糕</string>
	</dict>
	<dict>
		<key>mancount</key>
		<string>125</string>
		<key>icon</key>
		<string>icon_04.png</string>
		<key>time</key>
		<string>10:00</string>
		<key>title</key>
		<string>[11店通用]卡萨西饼</string>
	</dict>
	<dict>
		<key>mancount</key>
		<string>637</string>
		<key>icon</key>
		<string>icon_05.png</string>
		<key>time</key>
		<string>10:00</string>
		<key>title</key>
		<string>[陈寨/张家村]草原牧场烤肉</string>
	</dict>
	<dict>
		<key>mancount</key>
		<string>6</string>
		<key>icon</key>
		<string>icon_06.png</string>
		<key>time</key>
		<string>10:00</string>
		<key>title</key>
		<string>[26店通用]三色鸽蛋糕房</string>
	</dict>
	<dict>
		<key>mancount</key>
		<string>128</string>
		<key>icon</key>
		<string>icon_07.png</string>
		<key>time</key>
		<string>10:00</string>
		<key>title</key>
		<string>[大上海城]家有米线</string>
	</dict>
	<dict>
		<key>mancount</key>
		<string>22</string>
		<key>icon</key>
		<string>icon_08.png</string>
		<key>time</key>
		<string>10:00</string>
		<key>title</key>
		<string>[中原区]东北野生大鱼坊</string>
	</dict>
	<dict>
		<key>mancount</key>
		<string>104</string>
		<key>icon</key>
		<string>icon_09.png</string>
		<key>time</key>
		<string>10:00</string>
		<key>title</key>
		<string>[3店通用]好享来蛋糕房</string>
	</dict>
	<dict>
		<key>mancount</key>
		<string>6</string>
		<key>icon</key>
		<string>icon_11.png</string>
		<key>time</key>
		<string>10:00</string>
		<key>title</key>
		<string>[6店通用]汉江烤肉</string>
	</dict>
	<dict>
		<key>mancount</key>
		<string>128</string>
		<key>icon</key>
		<string>icon_12.png</string>
		<key>time</key>
		<string>10:00</string>
		<key>title</key>
		<string>[金水区]牛排工坊</string>
	</dict>
	<dict>
		<key>mancount</key>
		<string>361</string>
		<key>icon</key>
		<string>icon_13.png</string>
		<key>time</key>
		<string>10:00</string>
		<key>title</key>
		<string>[北环]丰乐自动火锅</string>
	</dict>
	<dict>
		<key>mancount</key>
		<string>12</string>
		<key>icon</key>
		<string>icon_14.png</string>
		<key>time</key>
		<string>10:00</string>
		<key>title</key>
		<string>[二七万达]川人家火锅</string>
	</dict>
</array>
</plist>
